.silver {
    color: white;
    font-size: 50px;
    padding: 14px 40px;
    border: 3px solid white;
    background: silver;
    border-radius: 8px;
  }

  .red {
    color: white;
    font-size: 50px;
    padding: 14px 40px;
    border: 3px solid white;
    background: rgb(244,67,54);
    border-radius: 8px;
  }

  .green {
    color: white;
    font-size: 50px;
    padding: 14px 40px;
    border: 3px solid white;
    background: rgb(76, 175, 80);
    border-radius: 8px;
  }

  .blue {
    color: white;
    font-size: 50px;
    padding: 14px 40px;
    border: 3px solid white;
    background: rgb(0,140,186);
    border-radius: 8px;
  }

  .purple {
    color: white;
    font-size: 50px;
    padding: 14px 40px;
    border: 3px solid white;
    background: purple;
    border-radius: 8px;
  }


  
